.dropdown-menu {
  .dropdown-menu-item {
    cursor: pointer;
    padding: 8px 12px;
    font-size: 12px;
    font-weight: 500;
    @apply rounded-lg;

    &:hover {
      background-color: #ffecb3;
    }
  }
}