@import 'loading';
@import 'form/index';
@import '3rd-party/vue-tippy';
@import 'alert';
@import 'dropdown-menu';
@import 'cards';

html {
  height: 100%;
  min-height: 100%;
}

body, #__nuxt, #__layout {
  height: inherit;
}

:root {
  --header-hegiht: 52px;
}

body {
  @apply text-base font-semibold;
  background-color: #f6f7f7;
  font-family: 'Montserrat', sans-serif;
}

[v-cloak] {
  display: none;
}

.ratio::before {
  content: '';
  padding-top: 100%;
  float: left;
}
.ratio::after {
  content: '';
  display: block;
  clear: both;
}

.ratio-16x9::before {
  content: '';
  padding-top: calc(100% / 1.78);
  float: left;
}
.ratio-16x9::after {
  content: '';
  display: block;
  clear: both;
}