.button {
  @apply rounded px-4;
  height: 36px;
  line-height: 36px;
  display: block;
  letter-spacing: .24px;
  text-align: center;
  background-color: #eceff1;
  color: #90A4AE;
  font-weight: 500;
}

.button-primary {
  color: #C5CAE9;
  background-color: #5C6BC0;
}

.button-success  {
  color: #fff;
  background-color: #43a047;
}

.button-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: #eceff1;
  border-radius: 99px;
  cursor: pointer;
}
